<template>
  <el-header v-if="authenticated">
    <div class="header-inner">
      <div class="logo" @click="goToHomePage()"></div>
      <div id="user">
        <div id="header-buttons">
            <el-button v-if="$route.path !== '/hardwares'" type="info" size="small" @click="goToHomePage()" title="Lista sprzętów">Lista sprzętów</el-button>
            <el-button v-if="isAdmin && $route.path !== '/users'" type="warning" size="small" @click="goToUsers()" title="Użytkownicy">Użytkownicy</el-button>
            <el-dropdown>
                <el-button type="primary" plain>
                    <b>Użytkownik zalogowany</b>: {{ username }} <i class="el-icon-arrow-down el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item><header-user-update></header-user-update></el-dropdown-item>
                    <el-dropdown-item><el-button type="danger" size="small" @click="logout" title="Wyloguj">Wyloguj </el-button></el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
      </div>
    </div>
  </el-header>
</template>
<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import { ROUTING } from '@/const/routing.const'
import HeaderUserUpdate from '@/components/user/HeaderUserUpdate'

export default {
  name: 'AppHeader',
  components: { HeaderUserUpdate },
  computed: {
    ...mapGetters({
      isAdmin: 'hasAdminAuthority'
    }),
    ...mapState({
      authenticated: state => state.auth.authenticated,
      username: state => state.auth.userJwt.username
    })
  },
  methods: {
    ...mapActions([
      'clearAuthentication'
    ]),
    goToHomePage () {
      this.$router.push(ROUTING.hardwares)
    },
    goToUsers () {
      this.$router.push(ROUTING.users)
    },
    logout () {
      this.clearAuthentication().then(() => {
        this.$router.push(ROUTING.login).catch(() => {})
      }).catch((error) => {
        this.$notify({
          title: 'Błąd!',
          message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
          type: 'error',
          duration: 3000
        })
      })
    }
  }
}
</script>
