<template>
  <div>
    <el-button type="success" size="medium" @click.prevent="showDialog" :disabled="isLoading">
      Dodaj sprzęt
    </el-button>

    <el-dialog title="Nowy sprzęt komputerowy" :visible.sync="dialogVisible" width="40%">
      <div>
        <form-hardware :ref="formComponentRefName" v-if="dialogVisible"/>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" size="small" @click="hideDialog" :disabled="isProcessing">Anuluj</el-button>
        <el-button type="success" size="small" @click="submit" :disabled="isProcessing">Zapisz</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import FormHardware from '@/components/hardware/FormHardware'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'AddHardware',
  components: { FormHardware },
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'addHardwareFormComponent'
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.hardware.loading,
      isProcessing: state => state.hardwareForm.processing,
      formNameRef: state => state.hardwareForm.ref
    })
  },
  methods: {
    ...mapMutations([
      'SET_HARDWARE_FORM_PROCESSING'
    ]),
    ...mapActions([
      'addHardwareData',
      'getHardwareListFromApi'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    getNativeForm () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    submit () {
      let formRef = this.getNativeForm()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_HARDWARE_FORM_PROCESSING(true)

        this.addHardwareData()
          .then(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie dodano wpis',
              type: 'success',
              duration: 3000
            })
            this.hideDialog()
            this.getHardwareListFromApi()
              .catch((error) => {
                this.$notify({
                  title: 'Błąd!',
                  message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              })
          }, (error) => {
            if (error.status === 400) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd walidacji!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          }).finally(() => {
            this.SET_HARDWARE_FORM_PROCESSING(false)
          })
      })
    }
  }
}
</script>
