<template>
  <div v-if="hardwareDetails" class="hardware-details">
    <el-card>
      <div slot="header" class="clearfix">
        <span>INFORMACJE O SPRZĘCIE</span>
      </div>
      <div class="text-right mb-20">
        <update-hardware :hardware-details="hardwareDetails"></update-hardware>
      </div>
      <div>
        <table class="table table--left-col-bg">
          <tr>
            <td>ID</td>
            <td>
              {{ hardwareDetails.id }}
            </td>
          </tr>
            <tr>
                <td>Czy sprzęt jest aktualnie używany</td>
                <td>
                  <el-icon :name="hardwareDetails.active ? 'check' : 'close'"></el-icon>
                </td>
            </tr>
          <tr>
            <td>Nazwa</td>
            <td>
              {{ hardwareDetails.name }}
            </td>
          </tr>
          <tr>
            <td>Typ</td>
            <td>
                {{ hardwareDetails.typeTranslation }}
            </td>
          </tr>
          <tr>
            <td>Opis</td>
            <td>
              {{ hardwareDetails.description }}
            </td>
          </tr>
          <tr>
            <td>Użytkownik</td>
            <td>
              {{ hardwareDetails.companyUser }}
            </td>
          </tr>
          <tr>
            <td>Data zakupu</td>
            <td>
              {{ hardwareDetails.buyDate }}
            </td>
          </tr>
          <tr>
            <td>Czy aktywna gwarancja</td>
            <td>
              <el-icon :name="hardwareDetails.activeGuarantee ? 'check' : 'close'"></el-icon>
            </td>
          </tr>
          <tr>
            <td>Ile lat gwarancji ma sprzęt</td>
            <td>
              {{ hardwareDetails.guaranteeYears }}
            </td>
          </tr>
            <tr>
                <td>Adres MAC</td>
                <td>
                    {{ hardwareDetails.macAddress }}
                </td>
            </tr>
          <tr>
            <td>Numer seryjny sprzętu</td>
            <td>
              {{ hardwareDetails.serialNum }}
            </td>
          </tr>
          <tr>
            <td>Numer faktury</td>
            <td>
              {{ hardwareDetails.invoiceNum }}
            </td>
          </tr>
          <tr>
            <td>Numer wewnętrzny</td>
            <td>
              {{ hardwareDetails.internalNum }}
            </td>
          </tr>
          <tr>
            <td>Adres sklepu</td>
            <td>
              {{ hardwareDetails.shopUrl }}
            </td>
          </tr>
        </table>
      </div>
    </el-card>
  </div>
  <div v-else>Brak wpisu o podanym ID</div>
</template>

<script>

import UpdateHardware from '@/components/hardware/UpdateHardware'

export default {
  name: 'HardwareDetails',
  components: { UpdateHardware },
  props: ['hardwareDetails']
}
</script>
