<template>
    <div class="filter-wrapper hardwares">
        <div class="filter-content">
            <el-alert v-if="apiError.show" :title="apiError.title" type="error" show-icon></el-alert>
            <el-form ref="form" :model="form" @submit.native.prevent="submit">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
                        <div class="filter-col-wrapper">
                            <el-input v-model="name" placeholder="- Nazwa sprzętu -"></el-input>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
                        <div class="filter-col-wrapper">
                            <el-input v-model="companyUser" placeholder="- Użytkownik sprzętu -"></el-input>
                        </div>
                    </el-col>
                    <el-col :xs="24" :sm="8" :md="8" :lg="5" :xl="5">
                        <div class="filter-buttons-wrapper">
                            <el-button type="warning" @click="resetFilters" icon="el-icon-circle-close" size="mini">Wyczyść
                            </el-button>
                            <el-button type="primary" native-type="submit" icon="el-icon-search" size="mini">Filtruj
                            </el-button>
                        </div>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'HardwareFilters',
  data: function () {
    return {
      apiError: {
        show: false,
        title: ''
      }
    }
  },
  computed: {
    ...mapState({
      form: state => state.hardware.filters
    }),
    name: {
      get () {
        return this.$store.state.hardware.filters.name
      },
      set (value) {
        this.SET_HARDWARE_FILTERS_NAME(value)
      }
    },
    companyUser: {
      get () {
        return this.$store.state.hardware.filters.companyUser
      },
      set (value) {
        this.SET_HARDWARE_FILTERS_COMPANY_USER(value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'SET_HARDWARE_FILTERS_NAME',
      'SET_HARDWARE_FILTERS_COMPANY_USER'
    ]),
    ...mapActions([
      'getHardwareListFromApi'
    ]),
    resetFilters () {
      this.SET_HARDWARE_FILTERS_NAME(null)
      this.SET_HARDWARE_FILTERS_COMPANY_USER(null)
    },
    submit () {
      this.getHardwareListFromApi()
        .catch((error) => {
          this.apiError.show = true
          this.apiError.title = error.body.message !== '' ? `${error.body.message}` : 'Wystąpił nieznany błąd przy pobieraniu listy'
        })
    }
  },
  mounted () {
    this.resetFilters()
    this.submit(true)
  }
}
</script>

<style src="../../assets/scss/filters.scss" lang="scss"></style>
