<template>
  <section class="form-container">
    <el-form :model="form"
             :rules="validation"
             :ref="formNameRef"
             v-loading="isProcessing"
             @submit.native.prevent
             element-loading-text="Przetwarzanie..."
             element-loading-spinner="el-icon-loading"
             label-width="300px">
      <el-form-item label="Nazwa:" prop="name">
        <el-input v-model="name"></el-input>
      </el-form-item>
      <el-form-item label="Czy sprzęt jest aktualnie używany:" prop="active">
        <el-checkbox v-model="active"></el-checkbox>
      </el-form-item>
      <el-form-item label="Typ sprzętu:" prop="type">
        <el-select v-model="type" filterable>
          <el-option
              v-for="item in typeList"
              :loading="isOptionsLoading"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Numer seryjny:" prop="serialNum">
         <el-input v-model="serialNum"></el-input>
      </el-form-item>
      <el-form-item label="Opis:" prop="description">
        <el-input v-model="description"></el-input>
      </el-form-item>
      <el-form-item label="Użytkownik sprzętu:" prop="companyUser">
        <el-input v-model="companyUser"></el-input>
      </el-form-item>
      <el-form-item label="Data zakupu:" prop="buyDate">
        <el-date-picker v-model="buyDate" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="Czy aktywna gwarancja:" prop="activeGuarantee">
        <el-checkbox v-model="activeGuarantee"></el-checkbox>
      </el-form-item>
      <el-form-item label="Ile lat gwarancji:" prop="guaranteeYears">
        <el-input-number v-model="guaranteeYears" :min="0"></el-input-number>
      </el-form-item>
      <el-form-item label="Mac adres:" prop="macAddress">
        <el-input v-model="macAddress"></el-input>
      </el-form-item>
      <el-form-item label="Numer faktury:" prop="invoiceNum">
        <el-input v-model="invoiceNum"></el-input>
      </el-form-item>
      <el-form-item label="Numery wewnętrzny:" prop="internalNum">
        <el-input v-model="internalNum"></el-input>
      </el-form-item>
      <el-form-item label="Adres sklepu" prop="shopUrl">
        <el-input v-model="shopUrl"></el-input>
      </el-form-item>
    </el-form>
  </section>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'

export default {
  name: 'FormHardware',
  props: ['hardwareDetails'],
  data: function () {
    return {
      validation: {
        name: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' }
        ],
        type: [
          { required: true, message: 'Pole jest wymagane', trigger: 'change' }
        ],
        serialNum: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      typeList: 'getTypesList'
    }),
    ...mapState({
      formNameRef: state => state.hardwareForm.ref,
      isProcessing: state => state.hardwareForm.processing,
      form: state => state.hardwareForm.data,
      isOptionsLoading: state => state.hardwareForm.optionsLoading
    }),
    name: {
      get () {
        return this.$store.state.hardwareForm.data.name
      },
      set (value) {
        this.SET_FORM_HARDWARE_NAME(value)
      }
    },
    active: {
      get () {
        return this.$store.state.hardwareForm.data.active
      },
      set (value) {
        this.SET_FORM_HARDWARE_ACTIVE(value)
      }
    },
    type: {
      get () {
        return this.$store.state.hardwareForm.data.type
      },
      set (value) {
        this.SET_FORM_HARDWARE_TYPE(value)
      }
    },
    companyUser: {
      get () {
        return this.$store.state.hardwareForm.data.companyUser
      },
      set (value) {
        this.SET_FORM_HARDWARE_COMPANY_USER(value)
      }
    },
    description: {
      get () {
        return this.$store.state.hardwareForm.data.description
      },
      set (value) {
        this.SET_FORM_HARDWARE_DESC(value)
      }
    },
    buyDate: {
      get () {
        return this.$store.state.hardwareForm.data.buyDate
      },
      set (value) {
        this.SET_FORM_HARDWARE_BUY_DATE(value)
      }
    },
    activeGuarantee: {
      get () {
        return this.$store.state.hardwareForm.data.activeGuarantee
      },
      set (value) {
        this.SET_FORM_HARDWARE_ACTIVE_GUARANTEE(value)
      }
    },
    guaranteeYears: {
      get () {
        return this.$store.state.hardwareForm.data.guaranteeYears
      },
      set (value) {
        this.SET_FORM_HARDWARE_GUARANTEE_YEARS(value)
      }
    },
    serialNum: {
      get () {
        return this.$store.state.hardwareForm.data.serialNum
      },
      set (value) {
        this.SET_FORM_HARDWARE_SERIAL_NUM(value)
      }
    },
    invoiceNum: {
      get () {
        return this.$store.state.hardwareForm.data.invoiceNum
      },
      set (value) {
        this.SET_FORM_HARDWARE_INVOICE_NUM(value)
      }
    },
    internalNum: {
      get () {
        return this.$store.state.hardwareForm.data.internalNum
      },
      set (value) {
        this.SET_FORM_HARDWARE_INTERNAL_NUM(value)
      }
    },
    shopUrl: {
      get () {
        return this.$store.state.hardwareForm.data.shopUrl
      },
      set (value) {
        this.SET_FORM_HARDWARE_SHOP_URL(value)
      }
    },
    macAddress: {
      get () {
        return this.$store.state.hardwareForm.data.macAddress
      },
      set (value) {
        this.SET_FORM_HARDWARE_MACADRESS(value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'SET_FORM_HARDWARE_ACTIVE',
      'SET_FORM_HARDWARE_NAME',
      'SET_FORM_HARDWARE_TYPE',
      'SET_FORM_HARDWARE_COMPANY_USER',
      'SET_FORM_HARDWARE_DESC',
      'SET_FORM_HARDWARE_BUY_DATE',
      'SET_FORM_HARDWARE_ACTIVE_GUARANTEE',
      'SET_FORM_HARDWARE_GUARANTEE_YEARS',
      'SET_FORM_HARDWARE_SERIAL_NUM',
      'SET_FORM_HARDWARE_INVOICE_NUM',
      'SET_FORM_HARDWARE_INTERNAL_NUM',
      'SET_FORM_HARDWARE_SHOP_URL',
      'SET_FORM_HARDWARE_MACADRESS',
      'REFRESH_HARDWARE_FORM_DATA',
      'SET_HARDWARE_EDIT_DATA'
    ]),
    ...mapActions([
      'getHardwareTypesFromApi'
    ]),
    clearForm () {
      this.REFRESH_HARDWARE_FORM_DATA()
      if (this.$refs[this.formNameRef]) {
        this.$refs[this.formNameRef].resetFields()
      }
    }
  },
  created () {
    this.clearForm()

    if (this.hardwareDetails) {
      this.SET_HARDWARE_EDIT_DATA(this.hardwareDetails)
    }

    if (!this.typeList.length) {
      this.getHardwareTypesFromApi()
    }
  },
  destroyed () {
    this.clearForm()
  }
}
</script>

<style src="../../assets/scss/form.scss" lang="scss"></style>
