<template>
  <div>
    <el-table
        v-loading="isLoading"
        element-loading-text="Wczytywanie danych..."
        element-loading-spinner="el-icon-loading"
        :data="items"
        stripe
        highlight-current-row
        style="width: 100%">
      <el-table-column prop="id"
                       width="80"
                       header-align="right"
                       align="right"
                       label="ID">
      </el-table-column>
      <el-table-column prop="active"
                       width="200"
                       header-align="right"
                       align="center"
                       label="Czy sprzęt jest aktualny">
          <template slot-scope="scope">
              <el-icon :name="scope.row.active ? 'check' : 'close'"></el-icon>
          </template>
      </el-table-column>
      <el-table-column prop="name"
                       min-width="150"
                       align="center"
                       header-align="center"
                       label="Nazwa">
      </el-table-column>

      <el-table-column prop="type"
                       align="center"
                       min-width="150"
                       header-align="center"
                       label="Typ">
      </el-table-column>

      <el-table-column prop="companyUser"
                       align="center"
                       min-width="150"
                       header-align="center"
                       label="Użytkownik sprzętu">
      </el-table-column>

      <el-table-column prop="created"
                       align="center"
                       min-width="150"
                       header-align="center"
                       label="Data wpisu">
          <template slot-scope="scope">
              {{ scope.row.created|date }}
          </template>
      </el-table-column>

      <el-table-column width="180" align="center" label="">
        <template slot-scope="scope">
          <div class="buttons">
            <el-button size="mini" icon="el-icon-folder-opened" type="primary" @click="goToDetails(scope.row)">Szczegóły</el-button>
            <remove-hardware :hardware-id="scope.row.id"></remove-hardware>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import RemoveHardware from '@/components/hardware/RemoveHardware'
import { ROUTING } from '@/const/routing.const'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'HardwareList',
  components: { RemoveHardware },
  computed: {
    ...mapState({
      isLoading: state => state.hardware.loading
    }),
    ...mapGetters({
      items: 'getHardwareList'
    })
  },
  methods: {
    goToDetails (row) {
      this.$router.push(ROUTING.hardwares + '/' + row.id)
    }
  }
}
</script>
