<template>
  <div>
    <el-button type="danger" size="mini" title="Usuń sprzęt" icon="el-icon-delete" @click.prevent="showDialog" :disabled="isLoading"></el-button>
    <el-dialog title="Potwierdzenie usunięcia sprzętu" :visible.sync="dialogVisible" width="40%">
      <span>Czy na pewno chcesz usunąć sprzęt id: {{ hardwareId }}?</span>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" size="small" @click="hideDialog" :disabled="processing">Anuluj</el-button>
        <el-button type="success" size="small" @click="submit" :disabled="processing">Usuń</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'RemoveHardware',
  props: ['hardwareId'],
  data () {
    return {
      dialogVisible: false
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.hardware.loading,
      processing: state => state.hardware.processing
    })
  },
  methods: {
    ...mapActions([
      'getHardwareListFromApi',
      'removeHardware'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    submit: function () {
      this.removeHardware(this.hardwareId)
        .then(() => {
          setTimeout(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie usunięto wpis',
              type: 'success'
            })
            this.hideDialog()
            this.getHardwareListFromApi()
          }, 2000)
        }, () => {
          this.$notify({
            title: 'Błąd!',
            message: 'Wystąpił błąd usuwania',
            type: 'error',
            duration: 3000
          })
        }
        )
    }
  }
}
</script>
