<template>
  <div>
    <el-button type="text"
               size="mini"
               icon="el-icon-edit"
               @click.prevent="showDialog"
               :disabled="isLoading">
      Edycja
    </el-button>
    <el-dialog title="Edycja sprzętu"
               :append-to-body="true"
               :visible.sync="dialogVisible"
               width="40%">
      <div>
        <form-hardware :hardware-details="hardwareDetails" :ref="formComponentRefName" v-if="dialogVisible" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" size="small" @click="hideDialog" :disabled="processing">Anuluj</el-button>
        <el-button type="primary" size="small" @click="submit" :disabled="processing">Zapisz</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import FormHardware from '@/components/hardware/FormHardware'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'UpdateHardware',
  components: { FormHardware },
  props: ['hardwareDetails'],
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'updateHardwareFormComponent'
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.hardware.loading,
      processing: state => state.hardwareForm.processing,
      formNameRef: state => state.hardwareForm.ref
    })
  },
  methods: {
    ...mapMutations([
      'SET_HARDWARE_FORM_PROCESSING'
    ]),
    ...mapActions([
      'updateHardwareData',
      'getHardwareDetailsFromApi'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    getFormRef () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    submit () {
      let formRef = this.getFormRef()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_HARDWARE_FORM_PROCESSING(true)

        this.updateHardwareData()
          .then(hardwareId => {
            this.getHardwareDetailsFromApi(hardwareId)
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie zaktualizowano wpis',
              type: 'success'
            })
            this.hideDialog()
          }, (error) => {
            if (error.status === 400) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          })
          .finally(() => {
            this.SET_HARDWARE_FORM_PROCESSING(false)
          })
      })
    }
  }
}
</script>
