<template>
    <div id="app">
        <div>
        <app-header></app-header>
            <el-container>
                <el-main>
                    <router-view/>
                </el-main>
            </el-container>
            <el-footer>
                <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                <br>
                <div>Projekt wykonany przez: Weronika Wołoszyk</div>
            </el-footer>
        </div>
    </div>
</template>

<script>
import AppHeader from './components/AppHeader'

export default {
  name: 'App',
  components: {
    AppHeader
  }
}
</script>

<style src="./assets/scss/app.scss" lang="scss"></style>
