<template>
    <div>
        <el-button type="success" size="mini" title="Aktywuj użytkownika" @click.prevent="submit" :disabled="isLoading">Aktywuj</el-button>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'ActivateUser',
  props: ['username'],
  data () {
    return {
      dialogVisible: false
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.user.loading,
      processing: state => state.user.processing
    })
  },
  methods: {
    ...mapActions([
      'getUserListFromApi',
      'activateUser'
    ]),
    submit: function () {
      this.activateUser(this.username)
        .then(() => {
          this.$notify({
            title: 'Sukces!',
            message: 'Poprawnie aktywowano użytkownika',
            type: 'success'
          })
          this.getUserListFromApi()
        }, () => {
          this.$notify({
            title: 'Błąd!',
            message: 'Wystąpił błąd w trakcie aktywacji',
            type: 'error',
            duration: 3000
          })
        }
        )
    }
  }
}
</script>
