<template>
    <div>
        <el-button type="success" size="medium" @click.prevent="showDialog" :disabled="isLoading">
            Dodaj użytkownika
        </el-button>

        <el-dialog title="Nowy użytkownik" :visible.sync="dialogVisible" width="40%">
            <div>
                <form-user :ref="formComponentRefName" v-if="dialogVisible"/>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="info" size="small" @click="hideDialog" :disabled="isProcessing">Anuluj</el-button>
                <el-button type="success" size="small" @click="submit" :disabled="isProcessing">Zapisz</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import FormUser from '@/components/user/FormUser'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'CreateUser',
  components: { FormUser },
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'createUserComponent'
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.user.loading,
      isProcessing: state => state.userForm.processing,
      formNameRef: state => state.userForm.ref
    })
  },
  methods: {
    ...mapMutations([
      'SET_USER_FORM_PROCESSING'
    ]),
    ...mapActions([
      'createUser',
      'getUserListFromApi'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    getNativeForm () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    submit () {
      let formRef = this.getNativeForm()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_USER_FORM_PROCESSING(true)

        this.createUser()
          .then(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie dodano użytkownika',
              type: 'success',
              duration: 3000
            })
            this.hideDialog()
            this.getUserListFromApi()
              .catch((error) => {
                this.$notify({
                  title: 'Błąd!',
                  message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              })
          }, (error) => {
            if (error.status === 400) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd walidacji!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          }).finally(() => {
            this.SET_USER_FORM_PROCESSING(false)
          })
      })
    }
  }
}
</script>
