<template>
    <div>
        <el-button type="warning" size="mini" title="Deaktywuj użytkownika" @click.prevent="showDialog" :disabled="isLoading">Deaktywuj</el-button>
        <el-dialog title="Potwierdzenie deaktywacji użytkownika" :visible.sync="dialogVisible" width="40%">
            <span>Czy na pewno chcesz deaktywować użytkownika: {{ username }}?</span>
            <span slot="footer" class="dialog-footer">
        <el-button type="info" size="small" @click="hideDialog" :disabled="processing">Anuluj</el-button>
        <el-button type="success" size="small" @click="submit" :disabled="processing">Deaktywuj</el-button>
      </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'DeactivateUser',
  props: ['username'],
  data () {
    return {
      dialogVisible: false
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.user.loading,
      processing: state => state.user.processing
    })
  },
  methods: {
    ...mapActions([
      'getUserListFromApi',
      'deactivateUser'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    submit: function () {
      this.deactivateUser(this.username)
        .then(() => {
          setTimeout(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie deaktywowano użytkownika',
              type: 'success'
            })
            this.hideDialog()
            this.getUserListFromApi()
          }, 2000)
        }, () => {
          this.$notify({
            title: 'Błąd!',
            message: 'Wystąpił błąd w trakcie deaktywacji',
            type: 'error',
            duration: 3000
          })
        }
        )
    }
  }
}
</script>
