<template>
    <section class="form-container">
        <el-form :model="form"
                 :rules="validation"
                 :ref="formNameRef"
                 v-loading="isProcessing"
                 @submit.native.prevent
                 element-loading-text="Przetwarzanie..."
                 element-loading-spinner="el-icon-loading"
                 label-width="200px">
            <el-form-item label="Nazwa:" prop="name">
                <el-input v-model="name"></el-input>
            </el-form-item>
            <el-form-item label="Login:" prop="login">
                <el-input v-model="login"></el-input>
            </el-form-item>
            <el-form-item label="Hasło:" prop="password">
                <el-input type="password" v-model="password" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="Email:" prop="mail">
                <el-input v-model="mail"></el-input>
            </el-form-item>
        </el-form>
    </section>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'FormUser',
  data: function () {
    return {
      validation: {
        name: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' }
        ],
        login: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' }
        ],
        mail: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
          { type: 'email', message: 'Podany adres email nie jest prawidłowy', trigger: ['blur'] }
        ],
        password: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
          { min: 8, message: 'Hasło jest zbyt krótkie' }
        ]
      }
    }
  },
  computed: {
    ...mapState({
      formNameRef: state => state.userForm.ref,
      isProcessing: state => state.userForm.processing,
      form: state => state.userForm.data
    }),
    name: {
      get () {
        return this.$store.state.userForm.data.name
      },
      set (value) {
        this.SET_USER_NAME(value)
      }
    },
    login: {
      get () {
        return this.$store.state.userForm.data.login
      },
      set (value) {
        this.SET_USER_LOGIN(value)
      }
    },
    mail: {
      get () {
        return this.$store.state.userForm.data.mail
      },
      set (value) {
        this.SET_USER_MAIL(value)
      }
    },
    password: {
      get () {
        return this.$store.state.userForm.data.password
      },
      set (value) {
        this.SET_USER_PASSWORD(value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'SET_USER_NAME',
      'SET_USER_LOGIN',
      'SET_USER_MAIL',
      'SET_USER_PASSWORD',
      'REFRESH_USER_FORM_DATA'
    ]),
    clearForm () {
      this.REFRESH_USER_FORM_DATA()
      if (this.$refs[this.formNameRef]) {
        this.$refs[this.formNameRef].resetFields()
      }
    }
  },
  created () {
    this.clearForm()
  },
  destroyed () {
    this.clearForm()
  }
}
</script>

<style src="../../assets/scss/form.scss" lang="scss"></style>
