<template>
    <div>
        <el-button type="text"
                   size="mini"
                   icon="el-icon-edit"
                   @click.prevent="showDialog"
                   :disabled="isLoading">
            Edytuj
        </el-button>
        <el-dialog title="Edytuj dane"
                   :append-to-body="true"
                   :visible.sync="dialogVisible"
                   width="40%">
            <div>
                <form-edit-simply-user :user-data="userData" :ref="formComponentRefName" v-if="dialogVisible"/>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="info" size="small" @click="hideDialog" :disabled="processing">Anuluj</el-button>
                <el-button type="primary" size="small" @click="submit" :disabled="processing">Zapisz</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import FormEditSimplyUser from '@/components/user/FormEditSimplified'

export default {
  name: 'HeaderUserUpdate',
  components: { FormEditSimplyUser },
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'updateUserHeaderComponent'
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.user.loading,
      processing: state => state.userForm.processing,
      formNameRef: state => state.userForm.ref,
      userData: state => state.userForm.data
    })
  },
  methods: {
    ...mapMutations([
      'SET_USER_FORM_PROCESSING',
      'REFRESH_USER_FORM_DATA'
    ]),
    ...mapActions([
      'updateSimplyUser',
      'getSimplifiedUserInfo'
    ]),
    showDialog () {
      this.dialogVisible = true
    },
    hideDialog () {
      this.dialogVisible = false
    },
    getFormRef () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    submit () {
      let formRef = this.getFormRef()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_USER_FORM_PROCESSING(true)

        this.updateSimplyUser()
          .then(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie zaktualizowano wpis',
              type: 'success'
            })
            this.hideDialog()
          }, (error) => {
            if (error.status === 400) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          })
          .finally(() => {
            this.SET_USER_FORM_PROCESSING(false)
          })
      })
    }
  },
  created () {
    this.getSimplifiedUserInfo()
  },
  destroyed () {
    this.REFRESH_USER_FORM_DATA()
  }
}
</script>
