<template>
    <div>
        <el-alert v-if="apiError.show" :title="apiError.title" type="error" show-icon></el-alert>
        <el-table
            v-loading="isLoading"
            element-loading-text="Wczytywanie danych..."
            element-loading-spinner="el-icon-loading"
            :data="items"
            stripe
            highlight-current-row
            style="width: 70%">
            <el-table-column prop="id"
                             width="80"
                             header-align="right"
                             align="right"
                             label="ID">
            </el-table-column>

            <el-table-column prop="active"
                             width="80"
                             header-align="right"
                             align="right"
                             label="Aktywny">
                <template slot-scope="scope">
                    <el-icon :name="scope.row.active ? 'check' : 'close'"></el-icon>
                </template>
            </el-table-column>

            <el-table-column prop="name"
                             min-width="150"
                             align="center"
                             header-align="center"
                             label="Nazwa użytkownika">
            </el-table-column>

            <el-table-column prop="login"
                             align="center"
                             min-width="150"
                             header-align="center"
                             label="Login">
            </el-table-column>

            <el-table-column prop="mail"
                             align="center"
                             min-width="150"
                             header-align="center"
                             label="E-mail">
            </el-table-column>

            <el-table-column prop="created"
                             align="center"
                             min-width="150"
                             header-align="center"
                             label="Data dodania">
                <template slot-scope="scope">
                    {{ scope.row.created|date }}
                </template>
            </el-table-column>
            <el-table-column width="180" align="center" label="">
                <template slot-scope="scope">
                    <div class="buttons">
                        <update-user :user-data="getUserData(scope.row)"></update-user>
                        <activate-user :username="scope.row.login" v-if="scope.row.admin === false && scope.row.active === false"></activate-user>
                        <deactivate-user :username="scope.row.login" v-if="scope.row.admin === false && scope.row.active === true"></deactivate-user>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
import DeactivateUser from '@/components/user/DeactivateUser'
import UpdateUser from '@/components/user/UpdateUser'
import ActivateUser from '@/components/user/ActivateUser'

export default {
  name: 'UserList',
  components: { ActivateUser, UpdateUser, DeactivateUser },
  data: function () {
    return {
      apiError: {
        show: false,
        title: ''
      }
    }
  },
  computed: {
    ...mapState({
      isLoading: state => state.user.loading
    }),
    ...mapGetters({
      items: 'getUserList'
    })
  },
  methods: {
    ...mapActions([
      'getUserListFromApi'
    ]),
    ...mapMutations([
      'SET_USER_ITEMS'
    ]),
    getUserData (user) {
      return {
        'login': user.login,
        'name': user.name,
        'mail': user.mail,
        'password': null
      }
    }
  },
  mounted () {
    this.getUserListFromApi()
      .catch((error) => {
        this.apiError.show = true
        this.apiError.title = error.body.message !== null ? `${error.body.message}` : 'Wystąpił nieznany błąd przy pobieraniu listy'
      })
  },
  destroyed () {
    this.SET_USER_ITEMS([])
  }
}
</script>
