<template>
    <section class="app-container">
        <el-form :model="form"
                 :rules="validation"
                 :ref="formNameRef"
                 v-loading="isProcessing"
                 @submit.native.prevent
                 element-loading-text="Przetwarzanie..."
                 element-loading-spinner="el-icon-loading"
                 label-width="100px">
            <el-form-item label="Login:" prop="login">
                <el-input v-model="login"></el-input>
            </el-form-item>
        </el-form>
    </section>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'FormSend',
  data: function () {
    return {
      validation: {
        login: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    ...mapState({
      formNameRef: state => state.resetPasswordForm.refSend,
      isProcessing: state => state.resetPasswordForm.processing,
      form: state => state.resetPasswordForm.dataForSend
    }),
    login: {
      get () {
        return this.$store.state.resetPasswordForm.dataForSend.login
      },
      set (value) {
        this.SET_RESET_PASS_LOGIN(value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'SET_RESET_PASS_LOGIN',
      'REFRESH_RESET_PASS_FORM_SEND_DATA'
    ]),
    clearForm () {
      this.REFRESH_RESET_PASS_FORM_SEND_DATA()
      if (this.$refs[this.formNameRef]) {
        this.$refs[this.formNameRef].resetFields()
      }
    }
  },
  created () {
    this.clearForm()
  },
  destroyed () {
    this.clearForm()
  }
}
</script>

<style src="../../assets/scss/form.scss" lang="scss"></style>
