<template>
    <section class="form-container">
        <el-form :model="form"
                 :rules="validation"
                 :ref="formNameRef"
                 v-loading="isProcessing"
                 @submit.native.prevent
                 element-loading-text="Przetwarzanie..."
                 element-loading-spinner="el-icon-loading"
                 label-width="150px">
            <el-form-item label="Hasło:" prop="newPassword">
                <el-input type="password" v-model="newPassword"></el-input>
            </el-form-item>
            <el-form-item label="Powtórz hasło:" prop="confirmPassword">
                <el-input type="password" v-model="confirmPassword"></el-input>
            </el-form-item>
        </el-form>
    </section>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'FormUpdate',
  props: ['token'],
  data: function () {
    return {
      validation: {
        newPassword: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
          { min: 8, message: 'Hasło jest zbyt krótkie' }
        ],
        confirmPassword: [
          { required: true, message: 'Pole jest wymagane', trigger: 'blur' },
          { min: 8, message: 'Hasło jest zbyt krótkie' }
        ]
      }
    }
  },
  computed: {
    ...mapState({
      formNameRef: state => state.resetPasswordForm.refUpdate,
      isProcessing: state => state.resetPasswordForm.processing,
      form: state => state.resetPasswordForm.dataForUpdate
    }),
    newPassword: {
      get () {
        return this.$store.state.resetPasswordForm.dataForUpdate.newPassword
      },
      set (value) {
        this.SET_RESET_PASS_PASSWORD(value)
      }
    },
    confirmPassword: {
      get () {
        return this.$store.state.resetPasswordForm.dataForUpdate.confirmPassword
      },
      set (value) {
        this.SET_RESET_PASS_PASSWORD_CONFIRM(value)
      }
    }
  },
  methods: {
    ...mapMutations([
      'SET_RESET_PASS_PASSWORD',
      'SET_RESET_PASS_PASSWORD_CONFIRM',
      'SET_RESET_PASS_TOKEN',
      'REFRESH_RESET_PASS_FORM_UPDATE_DATA'
    ]),
    clearForm () {
      this.REFRESH_RESET_PASS_FORM_UPDATE_DATA()
      if (this.$refs[this.formNameRef]) {
        this.$refs[this.formNameRef].resetFields()
      }
    }
  },
  created () {
    this.clearForm()
    this.SET_RESET_PASS_TOKEN(this.token)
  },
  destroyed () {
    this.clearForm()
  }
}
</script>

<style src="../../assets/scss/form.scss" lang="scss"></style>
