<template>
  <div id="hardwares-list-view">
    <div class="page-title-wrapper">
      <h1>Lista sprzętów komputerowych</h1>
      <div class="buttons">
        <add-hardware></add-hardware>
      </div>
    </div>
    <div>
      <hardware-filters></hardware-filters>
      <hardware-list></hardware-list>
    </div>
  </div>
</template>

<script>
import HardwareList from '@/components/hardware/List'
import AddHardware from '@/components/hardware/AddHardware'
import HardwareFilters from '@/components/hardware/Filters'

export default {
  name: 'HardwaresView',
  components: {
    HardwareFilters,
    AddHardware,
    HardwareList
  }
}
</script>
