<template>
    <div id="hardware-detail-view">
        <el-container class="app-container hardware-details-container" direction="vertical">
            <h1>Szczegóły sprzętu</h1>
            <div class="buttons">
                <el-button type="text"
                           size="mini"
                           icon="el-icon-back"
                           @click.prevent="goBack">
                    powrót
                </el-button>
            </div>
            <el-row></el-row>
            <el-alert v-if="apiError.show" :title="apiError.title" type="error" show-icon></el-alert>
            <hardware-details :hardware-details="hardwareDetails"></hardware-details>
        </el-container>
    </div>
</template>

<script>
import HardwareDetails from '@/components/hardware/Details'
import { mapActions, mapMutations, mapState } from 'vuex'
import { ROUTING } from '@/const/routing.const'

export default {
  name: 'HardwareDetailsView',
  props: ['id'],
  components: { HardwareDetails },
  data: function () {
    return {
      apiError: {
        show: false,
        title: ''
      }
    }
  },
  computed: {
    ...mapState({
      hardwareDetails: state => state.hardware.details
    })
  },
  methods: {
    ...mapMutations([
      'SET_HARDWARE_DETAILS'
    ]),
    ...mapActions([
      'getHardwareDetailsFromApi'
    ]),
    goBack () {
      this.$router.push(ROUTING.hardwares)
    }
  },
  created () {
    this.getHardwareDetailsFromApi(this.id)
      .catch((error) => {
        this.apiError.show = true
        this.apiError.title = error.body.message !== null ? `${error.body.message}` : 'Wystąpił nieznany błąd przy pobieraniu szczegółów'
      })
  },
  mounted () {
    this.SET_HARDWARE_DETAILS([])
  }
}
</script>
