<template>
    <div id="login-view">
        <el-container class="app-container login" direction="vertical">
            <h2>Organizer sprzętów komputerowych</h2>
            <img src="../assets/images/cpu.png" width="150" height="150" alt="pc-cubby">
            <el-row></el-row>
            <el-form :model="loginForm" :rules="validation" ref="loginForm" @submit.native.prevent
                     label-width="150px" label-position="top">
                <el-alert v-if="apiError.show" :title="apiError.title" type="error" show-icon></el-alert>
                <el-form-item label="Login:" prop="login">
                    <el-input v-model="loginForm.login" size="medium"></el-input>
                </el-form-item>
                <el-form-item label="Hasło:" prop="password">
                    <el-input v-model="loginForm.password" type="password" auto-complete="off" size="medium"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click.prevent="submitForm('loginForm')">Zaloguj</el-button>
                    <el-button type="text" size="mini" icon="el-icon-s-help" @click.prevent="goToResetPassword()">Resetuj hasło</el-button>
                </el-form-item>
            </el-form>
        </el-container>
    </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import { ROUTING } from '@/const/routing.const'
import router from '@/router'

export default {
  name: 'LoginView',
  data: function () {
    return {
      loginForm: {
        login: '',
        password: ''
      },
      validation: {
        login: [{ required: true, message: 'Wpisz login', trigger: 'blur' }],
        password: [{ required: true, message: 'Wpisz hasło', trigger: 'blur' }]
      },
      apiError: {
        show: false,
        title: ''
      }
    }
  },
  computed: {
    ...mapState({ authenticated: state => state.auth.authenticated })
  },
  methods: {
    ...mapActions(['authenticate']),
    ...mapMutations([
      'CLEAR_AUTHENTICATION'
    ]),
    goToResetPassword () {
      this.$router.push(ROUTING.reset_password)
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }

        this.authenticate({
          login: this.loginForm.login,
          password: this.loginForm.password
        }).then(() => {
          if (this.authenticated) {
            router.push(ROUTING.hardwares)
          }
        }).catch((error) => {
          this.apiError.show = true
          this.apiError.title = error.body.message !== null ? `${error.body.message}` : 'Niepoprawny login lub hasło'
          this.clearForm(formName)
        })
      })
    },
    clearForm (formName) {
      if (this.$refs[formName]) {
        this.$refs[formName].resetFields()
      }
    }
  },
  created () {
    this.CLEAR_AUTHENTICATION()
    this.clearForm()
  },
  destroyed () {
    this.clearForm()
  }
}
</script>
