<template>
<div>
    <el-container class="app-container reset-password" direction="vertical">
        <h2>Resetowanie hasła</h2>
        <img src="../assets/images/cpu.png" width="150" height="150" alt="pc-cubby">
        <el-row></el-row>
        <p>Podaj swój login, aby otrzymać e-mail z linkiem do formularza resetowania hasła.</p>
        <form-send :ref="formComponentRefName"></form-send>
        <div class="buttons">
            <el-button type="danger" @click.prevent="goToLogin()">Wróć</el-button>
            <el-button type="primary" @click.prevent="submit">Zapisz</el-button>
        </div>
    </el-container>
</div>
</template>

<script>
import FormSend from '@/components/reset_password/FormSend'
import { mapActions, mapMutations, mapState } from 'vuex'
import router from '@/router'
import { ROUTING } from '@/const/routing.const'
export default {
  name: 'ResetPasswordSendView',
  components: { FormSend },
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'resetPasswordSendComponent'
    }
  },
  computed: {
    ...mapState({
      isProcessing: state => state.resetPasswordForm.processing,
      formNameRef: state => state.resetPasswordForm.refSend
    })
  },
  methods: {
    ...mapMutations([
      'SET_RESET_PASS_FORM_PROCESSING'
    ]),
    ...mapActions([
      'sendEmailForPasswordReset'
    ]),
    getNativeForm () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    goToLogin () {
      this.$router.push(ROUTING.login)
    },
    submit () {
      let formRef = this.getNativeForm()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_RESET_PASS_FORM_PROCESSING(true)

        this.sendEmailForPasswordReset()
          .then(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie wysłano mail z linkiem do resetowania hasła.',
              type: 'success',
              duration: 5000
            })
            router.push(ROUTING.login)
          }, (error) => {
            if (error.status === 400 && error.body.errors !== undefined) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd walidacji!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          }).finally(() => {
            this.SET_RESET_PASS_FORM_PROCESSING(false)
          })
      })
    }
  }
}
</script>
