<template>
    <el-container class="app-container reset-password" direction="vertical">
        <h2>Resetowanie hasła</h2>
        <img src="../assets/images/cpu.png" width="150" height="150" alt="pc-cubby">
        <el-row></el-row>
        <form-update :ref="formComponentRefName" :token="this.token"></form-update>
        <div class="buttons">
            <el-button type="danger" @click.prevent="goToLogin()">Wróć</el-button>
            <el-button type="primary" @click.prevent="submit">Zapisz</el-button>
        </div>
    </el-container>
</template>

<script>
import FormUpdate from '@/components/reset_password/FormUpdate'
import { mapActions, mapMutations, mapState } from 'vuex'
import router from '@/router'
import { ROUTING } from '@/const/routing.const'
export default {
  name: 'ResetPasswordUpdateView',
  components: { FormUpdate },
  props: ['token'],
  data () {
    return {
      dialogVisible: false,
      formComponentRefName: 'resetPasswordUpdateComponent'
    }
  },
  computed: {
    ...mapState({
      isProcessing: state => state.resetPasswordForm.processing,
      formNameRef: state => state.resetPasswordForm.refUpdate
    })
  },
  methods: {
    ...mapMutations([
      'SET_RESET_PASS_FORM_PROCESSING'
    ]),
    ...mapActions([
      'updateUserPassword'
    ]),
    getNativeForm () {
      return this.$refs[this.formComponentRefName].$refs[this.formNameRef]
    },
    goToLogin () {
      this.$router.push(ROUTING.login)
    },
    submit () {
      let formRef = this.getNativeForm()

      formRef.validate((valid) => {
        if (!valid) {
          return false
        }

        this.SET_RESET_PASS_FORM_PROCESSING(true)

        this.updateUserPassword()
          .then(() => {
            this.$notify({
              title: 'Sukces!',
              message: 'Poprawnie zaktualizowano hasło',
              type: 'success',
              duration: 3000
            })
            router.push(ROUTING.login)
          }, (error) => {
            if (error.status === 400) {
              for (let i = 0; i < error.body.errors.length; i++) {
                this.$notify({
                  title: 'Błąd walidacji!',
                  message: error.body.errors[i].defaultMessage !== null ? `${error.body.errors[i].defaultMessage}` : 'Wystąpił błąd',
                  type: 'error',
                  duration: 3000
                })
              }
            } else if (error.status === 401) {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
              router.push(ROUTING.login)
            } else {
              this.$notify({
                title: 'Błąd!',
                message: error.body !== null ? `${error.body.message}` : 'Wystąpił błąd',
                type: 'error',
                duration: 3000
              })
            }
          }).finally(() => {
            this.SET_RESET_PASS_FORM_PROCESSING(false)
          })
      })
    }
  }
}
</script>
