<template>
    <div id="users-list-view">
        <div class="page-title-wrapper">
            <h1>Lista użytkowników</h1>
            <div class="buttons">
                <create-user></create-user>
            </div>
        </div>
        <div>
            <user-list></user-list>
        </div>
    </div>
</template>

<script>
import UserList from '@/components/user/List'
import CreateUser from '@/components/user/CreateUser'

export default {
  name: 'UsersView',
  components: {
    CreateUser,
    UserList
  }
}
</script>
