* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000000;
}

html, body, #app,
html, body, #app > div,
html, body, #app > div > .el-container {
  min-height: calc(100vh - 51px);
}

h4 {
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #f9fafc;

  .app-container {
    align-items: center;

    .hardware-details {
      width: 50%;
    }
  }

  header {
    &.el-header {
      border-bottom: solid 1px #e6e6e6;
      height: auto !important;
      padding: 0;

      .header-inner {
        padding: 0;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
        }

        .logo {
          width: 170px;
          height: 50px;
          margin: 10px 0;
          background: url(../images/cpu.png) no-repeat left center;
          background-size: contain;
          cursor: pointer;

        }

        #user {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border-top: 1px solid #eaeaea;

          @media (min-width: 768px) {
            width: calc(100% - 500px);
            padding: 0;
            border-top: none;
          }
        }

        #header-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .table-data, .table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ebeef5;

    th, td {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      text-align: left;
    }

    &.table--left-col-bg {
      tr {
        td {
          padding: 12px 10px;
          border-right: 1px solid #ebeef5;
          border-bottom: 1px solid #ebeef5;
          box-sizing: border-box;
          transition: background-color .25s ease;
          position: relative;

          &:nth-child(1) {
            background: #f5f7fa;
            width: 160px;
          }

          pre {
            padding: 2px;
            margin: 0;
          }
        }
      }
    }
  }

  .el-dialog {
    text-align: left;
  }

  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .mt-20 {
    margin-top: 20px;
  }

  .ml-10 {
    margin-left: 10px !important;
    display: inline-block;
  }

  .ml-20 {
    margin-left: 20px;
    display: inline-block;
  }

  .bold {
    font-family: 'Lato Bold', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .el-form-item__label {
    font-weight: bold;
  }

  .page-title-wrapper-vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .el-button--default {
      &.active {
        color: #fff;
        background-color: #67c23a;
        border-color: #67c23a;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .add-task-wrapper {
        margin-left: 10px;

        .el-dialog__wrapper {
          > div {
            width: 90%;

            @media (min-width: 1024px) {
              width: 80%;
            }

            @media (min-width: 1440px) {
              width: 70%;
              max-width: 1000px;
            }
          }
        }
      }
    }
  }

  .page-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .el-button--default {
      &.active {
        color: #fff;
        background-color: #67c23a;
        border-color: #67c23a;
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .add-task-wrapper {
        margin-left: 10px;

        .el-dialog__wrapper {
          > div {
            width: 90%;

            @media (min-width: 1024px) {
              width: 80%;
            }

            @media (min-width: 1440px) {
              width: 70%;
              max-width: 1000px;
            }
          }
        }

        .el-date-editor.el-input, .el-date-editor.el-input__inner {
          width: 100%;
        }
      }
    }
  }
}