.filter-wrapper {
  margin-bottom: 20px;

  .filter-content {
    .el-input {
      width: 100%;
    }

    .el-col {
      margin-bottom: 0;
    }

    .filter-buttons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .filter-col-wrapper {
    display: flex;
    flex-direction: column;
  }
}